<span style='color: #000' title='Frames'>    86</span><span style='color: #009' title='Memory'>  10240.00 KB</span><span style='color: #900' title='Time'>    175.49 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />